<%
"""
$Id: global_menu.html,v 1.1 2005/03/30 21:45:49 grisha Exp $

"""
%>

<ul id="miniflex">

<%
s_menu_items = []
for mi in menu_items:
    link, text, url, icon, sub = mi
    attr = "plain"
    if link == hlight:
        attr = "active"
        if sub:
            s_menu_items = sub
    # begin for 1
%>
    <li><a href="<%=url%>" class="<%=attr%>"><%=text%></a></li>
<%
# end for 1
%>
    <li style="float: right;"><a href="logout">Logout</a></li>
</ul>
<ul id="miniflex2">
<%
for mi in s_menu_items:
    link, text, url, icon, sub = mi
    attr = "plain"
    if link == s_hlight:
        attr = "active"
    # begin for
%>
    <li><a href="<%=url%>" class="<%=attr%>"><%=text%></a></li>
<%
# end
%>
</ul>
