

  <br><br><br>

  <div style="text-align: center;">

  <form action="login" method="POST">
  <table style="width: auto; margin-left: auto; margin-right: auto;"> 
    <tr><th>login:</th><td><input type="text" name="userid"></td></tr>
    <tr><th>password:</th><td><input type="password" name="passwd"></td></tr>
  </table>
  <br>
  <input type="submit" value="go">
  <input type="hidden" value="<%=url%>" name="uri">
  </form>

  <br>
  <font color="orange">
  <%=message%>&nbsp;
  </font>

    <p>
    <b>Note: your login is your userid (i.e. vserver name). Your
    password is checked against the password of the same userid on
    your vserver. I.e. if your vserver is called 'foo', there should
    be a user 'foo' whose password is used to authenticate here.</b>



  </div>

