  

  
  <h4>Bandwidth Utilization Statistics  (1 gigabyte is 1073741824 bytes)</h4>

  <p>
  <table style="float: left; white-space: nowrap; font-size: 90%;">
    <tr>
      <th></th><th>input</th><th>output</th><th>total</th>
    </tr>

<%

GB = 1073741824.0  # bytes in gigabyte

for d in data:
    # begin
    year, month, step, b_in, b_out = d
    step, b_in, b_out = int(step), long(b_in), long(b_out)
%>
    <tr>
      <td><%="%s %d" % (month, year) %></td>
      <td><%="%.2f GB (%d B)" % (b_in*step/GB, b_in*step) %></td>
      <td><%="%.2f GB (%d B)" % (b_out*step/GB, b_out*step) %></td>
      <td><%="%.2f GB (%d B)" % ((b_in+b_out)*step/GB, (b_in+b_out)*step) %></td>
    </tr>
<%
# end
%>
  </table>

  <p>
  <img src="bwidth/graph?s=86400&l=1"><br>   
  <img src="bwidth/graph?s=2592000&l=1"><br>
  <img src="bwidth/graph?s=7776000"><br>

  <p>
  Note - the above graphs represent <em>bits per second</em>. 
  One byte is equivalent to eight bits.
