  

  
  <h4>CPU Utilization (1 tick is a CPU millisecond)</h4>

  <p>
  <table style="float: left;">
    <tr>
      <th></th><th>system ticks</th><th>user ticks</th><th>total</th>
    </tr>

<%

import locale
locale.setlocale(locale.LC_ALL, 'en_US')

for d in data:
    # begin
    year, month, step, st, ut = d
%>
    <tr>
      <td><%="%s %s" % (month, year) %></td>
      <td><%="%s" % locale.format("%d", int(st*step), 3) %></td>
      <td><%="%s" % locale.format("%d", int(ut*step), 3) %></td>
      <td><%="%s" % locale.format("%d", int((st+ut)*step), 3) %></td>
    </tr>
<%
# end
%>
  </table>

  <p>
  <img src="cpu/graph?s=86400&l=1"><br>   
  <img src="cpu/graph?s=2592000&l=1"><br>
  <img src="cpu/graph?s=7776000"><br>

