
  
  <h4>DISK Utilization (1 Disk Token = 1 average KB over 1 minute interval)</h4>

  <p>
  <table style="float: left;">
    <tr>
      <th></th><th>disk tokens used</th></th>
    </tr>

<%

import locale
locale.setlocale(locale.LC_ALL, 'en_US')

for d in data:
    # begin
    year, month, step, b = d
%>
    <tr>
      <td><%="%s %s" % (month, year) %></td>
      <td><%="%s" % locale.format("%d", int(b*step/60), 3) %></td>
    </tr>
<%
# end
%>
  </table>

  <p>
  <img src="disk/graph?s=86400&l=1"><br>   
  <img src="disk/graph?s=2592000&l=1"><br>
  <img src="disk/graph?s=7776000"><br>

