
<h4>Rebuild VPS (Beta)</h4>

<br>
<div style="text-align: left; padding-left: 3em; border: 0; color: orange;">

This feature is still in Beta. This means that there is a risk that it
may not work correctly and will require support to get things
working. For this reason, consider using this during our business
hours (Mon-Fri, 9-5 US Eastern Time) when we can respond to support
calls the quickest.
<p>
<b>This feature is only supported in Fedora Core 3 VPS or later. On 
earlier versions it results in no changes to the VPS.</b>

</div>
<div style="text-align: left; padding-left: 3em; border: 0; color: #708491;">

<p>This page provides the ability to rebuild your VPS. Rebuilding a
VPS returns it to its pristine state when it was first provisioned,
<em>erasing all data</em>, resetting disk limits and only preserving the main
login information from the existing VPS.

<p>
Note that this action does not affect Backup Snapshots (if available),
the snapshots are retained through the rebuild process.

<p>
You must stop the VPS (using the Status link) before rebuilding it.

<p>
To rebuild your VPS, click the link below. Note: Depending on the
overall server load and speed, the rebuild process can take up to
several minutes. When the rebuild is complete, the browser will return
to the VPS status page where you can start it.

<p>
<b>WARNING: There will be no additional confirmation! This action is
irreversible! Make sure your data is backed up!</b>

</div>

<br><br>

<div style="text-align: center;">

<h3><a href="dorebuild" style="color: red;" onClick="return confirm('Rebuild Server?')">Rebuild VPS</a></h3>

<br>

</div>

