
   <meta http-equiv="pragma" content="no-cache">

   <div style="text-align: center;">
<%
if status == 'running':
    # begin
%>
   <br><br><br><br>
   
   <table style="width: 300px; margin-left: auto; margin-right: auto;">
   <tr>
     <th style="border: 0;" colspan=3>
       <h1>Status: <font color="blue">Running</font></h1>
       <br><br><br>
     </th>
   </tr>
   <tr>
     <td style="width: 100px; border: 0;"></td>
     <td style="width: 100px;"><a href="stop"><div class="stop"></div></a></td>
     <td style="width: 100px; border:0;"></td>
   </tr>
   <tr>
     <th style="border: 0;" colspan=3>
       Click to stop.
     </th>  
   </table>
<%
# end
elif status == 'stopped':
    # begin
%>
   <br><br><br><br>
   <table style="width: 300px; margin-left: 140px">
   <tr>
     <th style="border: 0;" colspan=3>
       <h1>Status: <font color="red">Stopped</font></h1>
       <br><br><br>
     </th>
   </tr>
   <tr>
     <td style="width: 100px; border: 0;"></td>
     <td style="width: 100px;"><a href="start"><div class="play"></div></a></td>
     <td style="width: 100px; border:0;"></td>
   </tr>
   <tr>
     <th style="border: 0;" colspan=3>
       Click to start.
     </th>  
   </table>
<%
# end
elif status == 'suspended':
    # begin
%>
   <br><br><br><br>
   <table style="width: 300px; margin-left: 140px">
   <tr>
     <th style="border: 0;" colspan=3>
       <h1>Status: <font color="grey">Suspended</font></h1>
       Please click <a href="/cp/pay">here</a> to make a payment.
       <br><br><br>
     </th>
   </tr>
   <tr>
     <td style="width: 100px; border: 0;"></td>
     <td style="width: 100px;"><div class="play"></div></td>
     <td style="width: 100px; border:0;"></td>
   </tr>
   <tr>
     <th style="border: 0;" colspan=3>
     </th>  
   </table>
<%
# end
elif status == 'rebuilding':
    # begin
%>
   <meta http-equiv="refresh" content="10">

   <br><br><br><br>
   
   <table style="width: 300px; margin-left: auto; margin-right: auto;">
   <tr>
     <th style="border: 0;" colspan=3>
       <h1>Status: <font color="orange">Rebuilding... Please Wait.</font></h1>
       <br><br><br>
     </th>
   </tr>
   <tr>
     <td style="width: 100px; border: 0;"></td>
     <td style="width: 100px;"><div class="stop"></div></td>
     <td style="width: 100px; border:0;"></td>
   </tr>
   <tr>
     <th style="border: 0;" colspan=3>
       &nbsp;
     </th>  
   </table>

<%
# end
%>
   </div>
